.dice{
    position: relative;
    display: inline-block;
    border: 10px solid black;
    border-radius: 15px;
    height: 220px;
    width: 220px;
    margin: 5px;
}

.redDice{
    background-color: #DC3545;
    border: 10px solid #DC3545;
}

.yellDice{
    background-color: #FFC107;
    border: 10px solid #FFC107;
}

.greenDice{
    background-color: #28A745;
    border: 10px solid #28A745;
}

.blueDice{
    background-color: #007BFF;
    border: 10px solid #007BFF;
}

.dot{
    display: inline-block;
    background-color: black;
    border-radius: 100%;
    margin: 3px;
    height: 44px;
    width: 44px;
}

.whiteDot{
    background-color: #f8f9fa;
}

.dot1{
    position: absolute;
    left: 75px;
    top: 75px;
}

.dot2{
    position: absolute;
    left: 25px;
    top: 25px;
}

.dot3{
    position: absolute;
    left: 125px;
    top: 125px;
}

.dot4{
    position: absolute;
    left: 125px;
    top: 25px;
}

.dot5{
    position: absolute;
    left: 25px;
    top: 125px;
}

.dot6{
    position: absolute;
    left: 25px;
    top: 75px;
}

.dot7{
    position: absolute;
    left: 125px;
    top: 75px;
}