.coin{
    position: relative;
    display: inline-block;
    /* left: 50%; */
    background-color: gray;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.coinSpin{
    animation: coinFlip 5s infinite;
}

@keyframes coinFlip {
    from {
      transform: rotateY(0deg);
    } to {
      transform: rotateY(720deg);
    }
}


