.coin-left{
    position: relative;
    display: inline-block;
    /* left: 50%; */
    background-color: gray;
    width: 100px;
    height: 200px;
    border-radius: 100px 0px 0px 100px;
}

.coin-right{
    position: relative;
    display: inline-block;
    background-color: gray;
    width: 100px;
    height: 200px;
    border-radius: 0px 100px 100px 0px;
}
